<table>
    <thead>
        <tr>
            <th colspan="2">cat.name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td>
            <td>cat.age</td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>cat.birth_date</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>cat.color</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>cat.sex</td>
        </tr>
    </tbody>
</table>
